body
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
hr
{
    width: 600px;
}
#turns
{
    color: green;
}
#board
{
    width: 360px;
    height: 360px;
    background-color: aquamarine;
    margin: 0 auto;
    border: 10px solid blue;
    display: flex;
    flex-wrap: wrap;
}
#board img
{
    width: 118px;
    height: 118px;
    border: 1px solid blue;
}